* {
    box-sizing: border-box;
  }
  
  .word {
    margin: 0;
    display: table;
    width: 100%;
    height: 50%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .y {
    height: 1em;
    display: table-row;
  }
  
  .x {
    /* width: 1em; */
    
    display: table-cell;
  }
  
   div {
    width: 3em;
    border: 1px solid;
    height: 2.6em;
  }
  
  .y:before {
    content: "";
    /* float: left; */
    padding-top: 100%;
  }